@model Profile

<div class="grid-container">
	<div id="item1">
		<h1>Contact Details</h1>
		@if (User.Identity.IsAuthenticated && Model.UserId == ViewBag.UserId)
		{
			<div>
				<a asp-action="EditProfile" asp-controller="Profile" asp-route-id="@Model.Id" id="editProfile">Edit Profile</a>
			</div>
		}
		<label>Email: </label>
		<p>
			@foreach (var mail in Model.Email)
			{
				@mail
				<br />
			}
		</p>
		<label>Phonenumber: </label>
		@if (ViewBag.Resume.Phonenumber != null)
		{
			<p>
				@foreach (var number in ViewBag.Resume.Phonenumber)
				{
					@number
					<br />
				}
			</p>
		}
		else
		{
			<p> This profile has not registered a phonenumber </p>
		}
	</div>
	<div id="item2">
		<h1>Resume</h1>
		@if (ViewBag.Resume.Qualification != null)
		{


			<h1>Resume</h1>
			<div class="resumeItemProfile" id="resume">
				<div>
					<label>Qualification: </label>
					<p>
						@foreach (var quali in ViewBag.Resume.Qualification)
						{
							@quali
							<br />
						}
					</p>
					<label>Education: </label>
					<p>
						@foreach (var edu in ViewBag.Resume.Education)
						{
							@edu
							<br />
						}
					</p>
					<label>Experiences: </label>
					<p>
						@foreach (var exp in ViewBag.Resume.Experiences)
						{
							@exp
							<br />
						}
					</p>
					<label>Phonenumber: </label>
					<p>
						@foreach (var number in ViewBag.Resume.Phonenumber)
						{
							@number
							<br />
						}
					</p>
				</div>
			</div>
		}
		else
		{
			<h1> This profile has not uploaded a resume yet</h1>
		}
		<div id="chat">
			
		</div>
	</div>
	@* De ja laggt till *@
	
	@if (User.Identity.IsAuthenticated && Model.UserId == ViewBag.UserId)
	{
	@if (ViewBag.Resume is null)
	{
		<div><a asp-action="CreateResume" asp-controller="Resume" asp-route-id="@Model.Id">Create Resume</a></div>
	}
	else
	{
		<div><a asp-action="EditResume" asp-controller="Resume" asp-route-id="@Model.Id" id="resume">Edit Resume</a> </div>
	}
	
	<div><a asp-action="CreateResume" asp-controller="Resume" asp-route-id="@Model.Id">Create Resume</a></div>
	<div>
		<form asp-controller="Resume" asp-action="Delete" asp-route-id="@Model.Id" method="post">
			<input type="hidden" name="_method" value="DELETE" /> 
			<button type="submit">Delete Resume</button>
		</form>
	</div>
	}
	@*slut*@
	<div id="item3">
		@*@if (ViewBag.Projects.Count != 0)
		{
			<div class="profileProjectItem">
				<a asp-action="ProfileView" asp-controller="Profile" asp-route-id="@Model.Id" asp-route-id2="@project.Id">
					
					<div>
						<label>Title: </label>
						<p>
							@project.Title
						</p>
						<label>Description: </label>
						<p>
							@project.Description
						</p>
						<label>Date Created: </label>
						<p>
							@project.Created;
						</p>
					</div>
					 <div>

			<h1>Projects</h1>
			@foreach (var project in ViewBag.Projects)
			{
				<div class="profileProjectItem">

					<a asp-action="ProfileView" asp-controller="Profile" asp-route-id="@Model.Id" asp-route-id2="@project.Id">
						<div>
							<label>Title: </label>
							<p>
								@project.Title
							</p>
							<label>Description: </label>
							<p>
								@project.Description
							</p>
							<label>Date Created: </label>
							<p>
								@project.Created;
							</p>
						</div>
						@* <div>
						@foreach(var participant in project.Participants)
						{

						}
					</div> 
					</a>
				</div>
			}
		}
		else
		{
			<h1> This profile is not apart of any projects yet </h1>
		}*@
	</div>
</div>