@model Profile

@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["AlertMessage"]
	</div>
}

@if (Model.Name == null)
{
	<h2 class="bold-text">You currently don't have a profile.</h2>
	<form method="get" asp-controller="Profile" asp-action="CreateProfile">
		<button type="submit" class="btn btn-primary">Create profile</button>
	</form>
}

else
{
	<h1 class="bold-text">@Model.Name's Profile</h1>
	<div class="grid-container">
		<div class="item item1">
			@*Hämtar egenvald profilbild eller standardbild*@
			@if (!String.IsNullOrEmpty(Model.ProfilePicturePath))
			{
				<img src="/images/profiles/@Model.ProfilePicturePath" class="profile-picture" alt="@Model.ProfilePicturePath" />
			}
			else
			{
				<img src="/images/profiles/stdpfp.jpg" class="profile-picture" alt="Profile picture" />
			}
			@*Visar "edit profile" eller "send message" beroende på profil*@
			@if (User.Identity.IsAuthenticated)
			{				

				if (Model.UserId == ViewBag.UserId)
				{
					<form method="get" asp-controller="Profile" asp-action="EditProfile">
						<button type="submit" class="btn btn-primary">Edit profile</button>
					</form>
				}			
				else
				{
					<form method="get" asp-controller="Message" asp-action="SendMessage" asp-route-id="@Model.Id">
						<button type="submit" class="btn btn-primary">Send message</button>
					</form>
				}
			}
			else
			{
				<form method="get" asp-controller="Message" asp-action="SendAnonymousMessage" asp-route-id="@Model.Id">
					<button type="submit" class="btn btn-primary">Send message</button>
				</form>
			}
		</div>
		<div class="item item2">
			<h1>Contact Details</h1>
			<div class="ProfileInfo">
			<label class="bold-text">Address: </label>
			<p>@Model.Adress</p>
			<label class="bold-text">Email: </label>
			<p>
				@foreach (var mail in Model.Email)
				{
					@mail
					<br />
				}
			</p>
			
			<label class="bold-text">Phone number: </label>
			@if (ViewBag.Resume != null)
			{
				<p>
					@foreach (var number in ViewBag.Resume.Phonenumber)
					{
						@number
						<br />
					}
				</p>
			}
			else
			{
				<p> This profile has not registered a phonenumber </p>
			}
			<label class="bold-text">Status: </label>
			@if (Model.IsPrivate)
			{
				<p>This profile is currently private.</p>
			}
			else
			{
				<p>This profile is currently public.</p>
			}
			</div>
		</div>
		<div class="item item3">
			<h1>Resume</h1>
			@if (ViewBag.Resume != null)
			{
				<div class="resumeItemProfile" id="resume">
					<div>
						<label>Qualification: </label>
						<p>
							@foreach (var quali in ViewBag.Resume.Qualification)
							{
								@quali
								<br />
							}
						</p>
						<br />
						<label>Education: </label>
						<p>
							@foreach (var edu in ViewBag.Resume.Education)
							{
								@edu
								<br />
							}
						</p>
						<br />
						<label>Experiences: </label>
						<p>
							@foreach (var exp in ViewBag.Resume.Experiences)
							{
								@exp
								<br />
							}
						</p>
						<br />
						<label>Phonenumber: </label>
						<p>
							@foreach (var number in ViewBag.Resume.Phonenumber)
							{
								@number
								<br />
							}
						</p>
					</div>
				</div>
			}
			else
			{
				<p> This profile has not uploaded a resume yet</p>
			}
			<div id="chat">
			</div>
			@if (User.Identity.IsAuthenticated && Model.UserId == ViewBag.UserId)
			{
				@if (ViewBag.Resume == null)
				{
					<div>
						<form asp-controller="Resume" asp-action="CreateResume" asp-route-id="@Model.Id" method="post">
							<button type="submit" class="btn btn-primary">Create Resume</button>
						</form>
					</div>
				}
				else
				{
					<div>
						<form asp-controller="Resume" asp-action="EditResume" asp-route-id="@Model.Id">
							<button type="submit" class="btn btn-primary">Edit Resume</button>
						</form>
					</div>
					<div>
						<form asp-controller="Resume" asp-action="Delete" asp-route-id="@Model.Id" method="post">
							<input type="hidden" name="_method" value="DELETE" />
							<button type="submit" class="btn btn-secondary">Delete Resume</button>
						</form>
					</div>
				}
			}
		</div>
		<div class="item item4">
			<h1>Projects participated in</h1>
			<div class="project-box-container">
			@if (ViewBag.Projects.Count != 0 && ViewBag.Projects != null)
			{
				@foreach (var project in ViewBag.Projects)
				{
					<div class="project-box">
						<h4>@project.Project.Title</h4>
						<p>@project.Project.Description</p>
						<p class="bold-text">Created: </p>
						<p>@project.Project.Created</p>
						<p class="bold-text">Updated: </p>
						<p>@project.Project.Updated</p>
						<p class="bold-text">Project Owner: </p>
						<p>@project.Project.ProjectOwner.Name</p>
					</div>
				}
			}
			else
			{
				<p> This profile is not part of any projects yet </p>
			}
			</div>			
		</div>
		<div class="item item5">			
			<h1>Created projects</h1>
			<div class="project-box-container">
				@if (ViewBag.OwnedProjects.Count != 0 && ViewBag.OwnedProjects != null)
				{
					@foreach (var project in ViewBag.OwnedProjects)
					{
						<div class="project-box">
							<h4>@project.Title</h4>
							<p>@project.Description</p>
							<p class="bold-text">Created: </p>
							<p>@project.Created</p>
							<p class="bold-text">Updated: </p>
							<p>@project.Updated</p>
							<p class="bold-text">Project Owner: </p>
							<p>@project.ProjectOwner.Name</p>
						</div>
					}
				}
				else
				{
					<p> This profile has not created any projects yet </p>
				}
			</div>
		</div>
	</div>
}