@model List<Profile>

<form method="get" asp-action="SearchProfile">
	<label>Sök efter profilnamn</label>
	<input type="search" name="searchString" />
	<button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
	<thead>
	<td>Name</td>
	<td>Private</td>
	</thead>
	<tbody>
		@if (User.Identity.IsAuthenticated)
		{
			@foreach (var profile in Model)
			{
				<tr>
					<td>@profile.Name</td>
					@if (profile.IsPrivate == true)
					{
						<td>Yes</td>
					}
					else
					{
						<td>No</td>
					}
					<td>
						<form asp-controller="Profile" asp-action="ProfileView" asp-route-id="@profile.Id">
							<button type="submit" class="btn btn-primary">View Profile</button>
						</form>
					</td>
					<td>
						<form method="get" asp-controller="Message" asp-action="SendMessage" asp-route-id="@profile.Id">
							<button type="submit" class="btn btn-secondary">Send message</button>
						</form>
					</td>
				</tr>
			}
		}
		else
		{
			@foreach (var profile in Model)
			{
				if (profile.IsPrivate == false)
				{
					<tr>
						<td>@profile.Name</td>
						<td>No</td>
						<td>
							<form asp-controller="Profile" asp-action="ProfileView" asp-route-id="@profile.Id">
								<button type="submit" class="btn btn-primary">View Profile</button>
							</form>
						</td>
						<td>
							<form method="get" asp-controller="Message" asp-action="SendAnonymousMessage" asp-route-id="@profile.Id">
								<button type="submit" class="btn btn-secondary">Send message</button>
							</form>
						</td>
					</tr>
				}
			}
		}
	</tbody>
</table>