@model Resume

<h1>Create Resume</h1>
<div class="formDiv">
    <form asp-action="AddNew" method="post">
        <input type="hidden" asp-for="ProfileId" />

        <label>Qualifications: </label>
        <div>
            @for (var i = 0; i < Model.Qualification.Count; i++)
            {
                <input type="text" asp-for="@Model.Qualification[i]" value="" />
                <input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="1" asp-route-profId="@Model.ProfileId" asp-route-method="create" value="X">
                <br />
            }
            @if (Model.Qualification.Count < 5) {
                <input type="submit" asp-action="addItem" asp-route-caseId="1" asp-route-id="@Model.ProfileId" asp-route-method="create" value="Add Qualification" />
            }
            <br />
        </div>

        <label>Phone Numbers: </label>
        <div>
            @for (var i = 0; i < Model.Phonenumber.Count; i++)
            {
                <input type="text" asp-for="@Model.Phonenumber[i]" value="" />
                <input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="2" asp-route-profId="@Model.ProfileId" asp-route-method="create" value="X">
                <br />
            }
            @if (Model.Phonenumber.Count < 5) {
                <input type="submit" asp-action="addItem" asp-route-caseId="2" asp-route-id="@Model.ProfileId" asp-route-method="create" value="Add Phonenumber" />
            }
            <br />
        </div>

        <label>Education: </label>
        <div>
            @for (var i = 0; i < Model.Education.Count; i++)
            {
                <input type="text" asp-for="@Model.Education[i]" value="" />
                <input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="3" asp-route-profId="@Model.ProfileId" asp-route-method="create" value="X">
                <br />
            }
            @if (Model.Education.Count < 5) {
                <input type="submit" asp-action="addItem" asp-route-caseId="3" asp-route-id="@Model.ProfileId" asp-route-method="create" value="Add Education" />
            }
            <br />
        </div>

        <label>Experiences: </label>
        <div>
            @for (var i = 0; i < Model.Experiences.Count; i++)
            {
                <input type="text" asp-for="@Model.Experiences[i]" value="" />
                <input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="4" asp-route-profId="@Model.ProfileId" asp-route-method="create" value="X">
                <br />
            }
            @if (Model.Experiences.Count < 5) {
                <input type="submit" asp-action="addItem" asp-route-caseId="4" asp-route-id="@Model.ProfileId" asp-route-method="create" value="Add Experience" />
            }
            <br />
        </div>
        <br />

        <button type="submit">Create Resume</button>
    </form>
</div>


		@* <label>Qualifications: </label>
		@foreach (var qualification in Model.Qualification)
		{
			<input type="text" asp-for="@qualification" />
		}
		<br />

		<label>Phone Numbers: </label>
		@foreach (var phoneNumber in Model.Phonenumber)
		{
			<input type="text" asp-for="@phoneNumber" />
		}
		<br />

		<label>Education: </label>
		@foreach (var educationItem in Model.Education)
		{
			<input type="text" asp-for="@educationItem" />
		}
		<br />

		<label>Experiences: </label>
		@foreach (var experience in Model.Experiences)
		{
			<input type="text" asp-for="@experience" />
		}
		<br />

		<button type="submit">Create Resume</button> *@
