@model Resume

<h1>Hej</h1>
<div class="formDiv">
    <form asp-action="AddNew" method="post">
        <input type="hidden" asp-for="ProfileId" />

        <label>Qualifications: </label>
        @for (var i = 0; i < Model.Qualification.Count; i++)
        {
            <input type="text" asp-for="@Model.Qualification[i]" value="" />
            <br />
        }
        <br />

        <label>Phone Numbers: </label>
        @for (var i = 0; i < Model.Education.Count; i++)
        {
            <input type="text" asp-for="@Model.Phonenumber[i]" value="" />
            <br />
        }
        <br />

        <label>Education: </label>
        @for (var i = 0; i < Model.Education.Count; i++)
        {
            <input type="text" asp-for="@Model.Education[i]" value="" />
            <br />
        }
        <br />

        <label>Experiences: </label>
        @for (var i = 0; i < Model.Experiences.Count; i++)
        {
            <input type="text" asp-for="@Model.Experiences[i]" value="" />
            <br />
        }
        <br />

        <button type="submit">Create Resume</button>
    </form>
</div>

		@* <label>Qualifications: </label>
		@foreach (var qualification in Model.Qualification)
		{
			<input type="text" asp-for="@qualification" />
		}
		<br />

		<label>Phone Numbers: </label>
		@foreach (var phoneNumber in Model.Phonenumber)
		{
			<input type="text" asp-for="@phoneNumber" />
		}
		<br />

		<label>Education: </label>
		@foreach (var educationItem in Model.Education)
		{
			<input type="text" asp-for="@educationItem" />
		}
		<br />

		<label>Experiences: </label>
		@foreach (var experience in Model.Experiences)
		{
			<input type="text" asp-for="@experience" />
		}
		<br />

		<button type="submit">Create Resume</button> *@
