@* @* Alex la till för att ändra cv info *@

@* @model Resume
<p>Tja</p>
<div class="formDiv">
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" /> *@
		@* <input type="hidden" asp-for="Qualification" /> *@
		@* <input type="hidden" asp-for="Phonenumber" />
		<input type="hidden" asp-for="Education" />
		<input type="hidden" asp-for="Experiences" />
		<input type="hidden" asp-for="ProfileId" />
		<label>Qualification: </label>
		@for (int i = 0; i < Model.Qualification.Count; i++)
		{
			<input type="text" asp-for="@Model.Qualification[i]" />
			
		}
		<br />
		<button type="submit">Save Qualifications</button>
	</form>
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="Qualification" />
		<input type="hidden" asp-for="Phonenumber" /> *@
		@* <input type="hidden" asp-for="Education" /> *@
		@* <input type="hidden" asp-for="Experiences" />
		<input type="hidden" asp-for="ProfileId" />
		<label>Education: </label>
		
		@for (int i = 0; i < Model.Education.Count; i++)
		{
			<input type="text"   asp-for="@Model.Education[i]" />
			
		}
		<br />
		<button type="submit">Save Education</button>
	</form>
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="Qualification" />
		<input type="hidden" asp-for="Phonenumber" />
		<input type="hidden" asp-for="Education" /> *@
		@* <input type="hidden" asp-for="Experiences" /> *@
		@* <input type="hidden" asp-for="ProfileId" />
		<label>Experiences: </label>
		@for (int i = 0; i < Model.Experiences.Count; i++)
		{
			<input type="text" asp-for="@Model.Experiences[i]" />
			
		}
		<br />
		<button type="submit">Save Experiences</button>
	</form> *@
	@* <form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="Qualification" /> *@
		@* <input type="hidden" asp-for="Phonenumber" /> *@
		@* <input type="hidden" asp-for="Education" />
		<input type="hidden" asp-for="Experiences" />
		<input type="hidden" asp-for="ProfileId" />
		<label>Edit Phonenumber</label>
		@for (int i = 0; i < Model.Phonenumber.Count; i++)
		{
			<input type="text" asp-for="@Model.Phonenumber[i]" />
			
		}
		<br />
		<button type="submit">Save Phonenumber</button>
	</form> *@
	
@* </div>  *@
@model Resume

<h1>Edit Resume</h1>
<div class="formDiv">
	<form asp-action="Edit" method="post" asp-route-id=@Model.Id>
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="ProfileId" />

		<label>Qualifications: </label>
		<br />
		@for (int i = 0; i < Model.Qualification.Count; i++)
		{
			<input type="text" asp-for="@Model.Qualification[i]" />
			<input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="1" asp-route-profId="@Model.ProfileId" asp-route-method="edit" value="X">
			<br />
		}
		@if (Model.Qualification.Count < 5)
		{
			<input type="submit" asp-action="addItem" asp-route-caseId="1" asp-route-id="@Model.ProfileId" asp-route-method="edit" value="Add Qualification" />
		}
		<br />
		<br />

		<label>Phone Numbers: </label>
		<br />
		@for (int i = 0; i < Model.Phonenumber.Count; i++)
		{
			<input type="text" asp-for="@Model.Phonenumber[i]" />
			<input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="2" asp-route-profId="@Model.ProfileId" asp-route-method="edit" value="X">
			<br />
		}
		@if (Model.Phonenumber.Count < 5)
		{
			<input type="submit" asp-action="addItem" asp-route-caseId="2" asp-route-id="@Model.ProfileId" asp-route-method="edit" value="Add Phonenumber" />
		}
		<br />
		<br />

		<label>Education: </label>
		<br />
		@for (int i = 0; i < Model.Education.Count; i++)
		{
			<input type="text" asp-for="@Model.Education[i]" />
			<input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="3" asp-route-profId="@Model.ProfileId" asp-route-method="edit" value="X">
			<br />
		}
		@if (Model.Education.Count < 5)
		{
			<input type="submit" asp-action="addItem" asp-route-caseId="3" asp-route-id="@Model.ProfileId" asp-route-method="edit" value="Add Education" />
		}
		<br />
		<br />

		<label>Experiences: </label>
		<br />
		@for (int i = 0; i < Model.Experiences.Count; i++)
		{
			<input type="text" asp-for="@Model.Experiences[i]" />
			<input type="submit" asp-action="RemoveField" asp-controller="Resume" asp-route-caseId="4" asp-route-profId="@Model.ProfileId" asp-route-method="edit" value="X">
			<br />
		}
		@if (Model.Experiences.Count < 5)
		{
			<input type="submit" asp-action="addItem" asp-route-caseId="4" asp-route-id="@Model.ProfileId" asp-route-method="edit" value="Add Experience" />
		}
		<br />
		<br />
		

		<button type="submit">Save Resume</button>
	</form>
</div>