@model List<Resume>

<meta name="viewport" content="width=device-width, inital-scale=1.0" />
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

<header>
    <h1>Resume</h1>
</header>
<div>
    <div>

        @for (int i = 0; i < Model.Count; i++)
        {
            var resume = Model[i];
            //Visar max 5 resumes på front page
            if(i > 4)
            {
                break;
            }
            if (ViewBag.PublicResumes.Contains(resume) || User.Identity.IsAuthenticated) {
                <div class="resumeItem">
                    <a asp-action="ProfileView" asp-controller="Profile" asp-route-id="@resume.ProfileId">
                        <div>
                       
                            <label>Qualification: </label>
                            <p>
                            @foreach (var quali in @resume.Qualification)
                            {
                                @quali
                                <br />
                            }
                            </p>
                            <br />
                            <label>Education: </label>
                            <p>
                                @foreach (var edu in @resume.Education)
                                {
                                    @edu
                                    <br />
                                }
                            </p>
                            <br />
                            <label>Experiences: </label>
                            <p>
                                @foreach (var exp in @resume.Experiences)
                                {
                                    @exp
                                    <br />
                                }
                            </p>
                            <br />
                            <label>Phonenumber: </label>
                            <p>
                            @foreach (var number in @resume.Phonenumber)
                            {
                                @number
                                <br />
                            }
                            </p>    
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
<h1>Latest Uploaded Project</h1>
<div class="col-md-4">
                <div class="project-box">
                    <h4>@ViewBag.LatestProject.Title</h4>
                    <p>@ViewBag.LatestProject.Description</p>
                    <p>Created: @ViewBag.LatestProject.Created</p>
                    <p>Updated: @ViewBag.LatestProject.Updated</p>
                    <p>Project Owner: @ViewBag.LatestProject.ProjectOwner.Name</p>
                </div>
</div>
