@model List<Resume>

<meta name="viewport" content="width=device-width, inital-scale=1.0" />


<header>
    <h1>Resume</h1>
</header>
<div>
    <div>
        @foreach (var resume in Model)
        {
            <div class="resumeItem">
                
                    <a asp-action="ProfileView" asp-controller="Profile" asp-route-id="@resume.ProfileId">
                    <div>
                       
                        <label>Qualification: </label>
                        <p>
                        @foreach (var quali in @resume.Qualification)
                        {
                            @quali
                            <br />
                        }
                        </p>
                        <label>Education: </label>
                        <p>
                            @foreach (var edu in @resume.Education)
                            {
                                @edu
                                <br />
                            }
                        </p>
                        <label>Experiences: </label>
                        <p>
                            @foreach (var exp in @resume.Experiences)
                            {
                                @exp
                                <br />
                            }
                        </p>
                        <label>Phonenumber: </label>
                        <p>
                        @foreach (var number in @resume.Phonenumber)
                        {
                            @number
                            <br />
                        }
                        </p>    
                    </div>
                </a>
            </div>
        }
    </div>
</div>