@model List<Project>

<h2>All Projects</h2>

@if (User.Identity.IsAuthenticated)
{
        <p>
            <a asp-action="Create" asp-controller="Project" class="btn btn-success">Create New Project</a>
        </p>
}

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4">
                <div class="project-box">
                    <h4>@item.Title</h4>
                    <p>@item.Description</p>
                    <p>Created: @item.Created</p>
                    <p>Updated: @item.Updated</p>
                    <p>Project Owner: @item.ProjectOwner.Name</p>

                @if (@ViewBag.Profile.Id == @item.ProjectOwnerId && User.Identity.IsAuthenticated)
                {
                            <p>
                                <a asp-action="EditProject" asp-controller="Project" asp-route-id="@item.Id">Edit</a>
                        @* här kan man lägga till fler actions *@
                            </p>
                }
                </div>
            </div>
    }
</div>



