@model List<WebApplication1.ViewModels.ShowProjectViewModel>

<h2>All projects</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New Project", "Add", null, new { @class = "btn btn-success" })
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="project-box">
                <h4>@Html.DisplayFor(modelItem => item.Project.Title)</h4>
                <p>@Html.DisplayFor(modelItem => item.Project.Description)</p>
                <p>Created: @Html.DisplayFor(modelItem => item.Project.Created)</p>
                <p>Updated: @Html.DisplayFor(modelItem => item.Project.Updated)</p>
                <p>Project Owner: @Html.DisplayFor(modelItem => item.Project.ProjectOwner.Name)</p>

                @if (User.Identity.IsAuthenticated)
                {
                    <p>
                        @Html.ActionLink("Edit", "EditProject", new { id = item.Project.Id }) |
                        @* här kan man lägga till fler actions *@
                    </p>
                }
            </div>
        </div>
    }
</div>















































@* @model Project

@{
    ViewBag.Title = "ProjectDetails";
}
<header>
    <h2>Project Details</h2>
</header>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create new Project", "Create", null, new { @class = "btn btn-success" })
    </p>
}

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
        @if (User.Identity.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.Participants)
        </dt>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var item in Model.Participants)
            {
                <dd>
                    @item.Name
                </dd>
            }
        }
        else
        {
            foreach (var item in Model.Participants)
            {

                if (item.IsPrivate == false)
                {
                    <dd>
                        @item.Name
                    </dd>
                }
            }

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
 *@


