@model List<Project>

<h2>All Projects</h2>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

@if (User.Identity.IsAuthenticated)
{
        <p>
            <a asp-action="Create" asp-controller="Project" class="btn btn-success">Create New Project</a>
        </p>
}

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4">
                <div class="project-box">
                    <h4>@item.Title</h4>
                    <p>@item.Description</p>
                    <p class="bold-text">Created: </p>
                    <p>@item.Created</p>
                    <p class="bold-text">Updated: </p>
                    <p>@item.Updated</p>
                    <p class="bold-text">Project Owner: </p>
                    <p>@item.ProjectOwner.Name</p>
                    <p class="bold-text">Participants:</p>
                    @foreach (var participant in ViewBag.Allparticipants)
                    {
                        @if(User.Identity.IsAuthenticated)
                        {
                            @if (participant.ProjectId == item.Id)
                            {
                                <p>@participant.Profile.Name</p>
                            }
                        }
                        else
                        {
                            @if (participant.ProjectId == item.Id && participant.Profile.IsPrivate == false)
                            {
                                <p>@participant.Profile.Name</p>
                            }
                        }                       
                    }
                    @if(User.Identity.IsAuthenticated) {
                    @if (@ViewBag.Profile.Id == @item.ProjectOwnerId)
                    {
                        <a class="btn btn-primary" asp-action="EditProject" asp-controller="Project" asp-route-id="@item.Id">Edit</a>
                        <form asp-action="Delete" asp-controller="Project" method="post" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?');">
                            <input type="hidden" name="projectId" value="@item.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                     

                    } else
                    {
                        @if (ViewBag.UserParticipationId.Contains(item.Id)) {
                            <form asp-action="Leave" asp-controller="Project" method="post">
                                <input type="hidden" name="projectId" value="@item.Id" />
                                <input type="submit" value="Leave" class="btn btn-secondary" />
                            </form>
                        }
                        else
                        {
                            <form asp-action="Participate" asp-controller="Project" method="post">
                                <input type="hidden" name="projectId" value="@item.Id" />
                                <input type="submit" value="Participate" class="btn btn-primary" />
                            </form>
                        }
                    }                  
                    }
                </div>
            </div>
    }
</div>



