@model Project

@{
    ViewBag.Title = "ProjectDetails";
}

<h2>Project Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
        @if (User.Identity.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.Participants)
        </dt>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var item in Model.Participants)
            {
                <dd>
                    @item.Name
                </dd>
            }
        }
        else
        {
            foreach (var item in Model.Participants)
            {

                if (item.IsPrivate == false)
                {
                    <dd>
                        @item.Name
                    </dd>
                }
            }

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>



